doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Holiday dream
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css')
  link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='style/style.css')
header
  .nav
    p.name DREAMSHARE
    .form
      .but1 Log in
      .but2 Sign up
  .main_text
    | Share your 
    br
    |  holiday dream
  p.text1 And find the perfect partner to fullfill it
  .button2 Find your holiday partner
.container
  main
    section
      .name_of_three_photos How Dreamshare works?
      .photos
        .one.ph1
          .button_3 step 1
          p.main_text2.first_line Sed leo enim,
          p.main_text2  condimentum
          p.simple_text2
            | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
        .two.ph1
          .button_3 step 2
          p.main_text2.first_line Morbi velit risus
          p.simple_text2
            | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
        .three.ph1
          .button_3 step 3
          p.main_text2.first_line Sed leo enim,
          p.main_text2  condimentum
          p.simple_text2
            | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
    section.grid
      p.partners Meet a partner for your best holiday
      .images
        .im1
          .tr1
          p.names Bradley Hunter
          p.hobby.h1 Based in Chicago. I love playing
          p.hobby  tennis and loud music.
        .im3
          .tr3
          p.names Diana Wells
          p.hobby.h3 Living in Athens, Greece. I love black
          p.hobby  and white classics, chillout music 
          p.hobby  and green tea.
        .im2
          .tr2
          p.names Marie Bennett
          p.hobby.h2 Currently living in Colorado. Lover o
          p.hobby  art, languages and travelling.
        .im4
          .tr4
          p.names Christopher Pierce
          p.hobby.h4 Star Wars fanatic. I have a 
          p.hobby  persistent enthusiasm to create 
          p.hobby  new things.
      .button4 See other partners
    section.many_photos
      .text2 Discover holiday activity ideas
      .first_three
        .sport.p1.text_center
          p.text_in_ph  Sports and Activis
        .health.p1.text_center
          p.text_in_ph Wellness and Health
        .extreme.p1.text_center
          p.text_in_ph
            | Extreme Sports 
            br
            |  and Expeditions
      .second_two
        .game.text_center
          p.text_in_ph Games
        .culture.text_center
          p.text_in_ph Culture and Education
      .last_two
        .culture_copy.text_center
          p.text_in_ph Enjomet and Relaxation
        .game_copy.text_center
          p.text_in_ph Trevelling
    section.last
      p.text3 Crate your holiday activity
      p.greating Hi! What are your holiday interests?
      form
        input(type='text' placeholder='Enter your interests')
        button(type='submit') Search partners
footer
  .logo
    span DREAMSHARE
  .menu
    span Company
    ul
      li.frst About
      li.frst Contact
      li.frst Press
      li.frst Blog
      li.frst.xx Terms and Privacy
      li.frst Help
  .partners
    p.part Partners
  .picturo_to_logo
    p.te DESIGNED BY
    .areto
